<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form)">

  <!-- DEBUG COMPONENT -->
  <app-form-debug [form]="form"></app-form-debug>

  <!-- NAME FIELD -->
  <app-input-field formControlName="name" class="col-sm-12" [cssClass]="applyErrorStyle('name')"
    id="name" label="Nome" type="text" [control]="showName('name')">
  </app-input-field>

  <!-- EMAIL FIELD -->
  <app-input-field formControlName="email" class="col-sm-12" [cssClass]="applyErrorStyle('email')"
    id="email" label="Email" type="email" [control]="showName('email')">
  </app-input-field>

  <!-- EMAIL COMFIRMATION FIELD -->
  <app-input-field formControlName="confirmEmail" class="col-sm-12" [cssClass]="applyErrorStyle('confirmEmail')"
    id="confirmEmail" label="Confirmação de email" type="email" [control]="showName('confirmEmail')">
  </app-input-field>

  <div class="form-group">
    <!-- TECHNOLOGIES FIELD -->
    <div class="col-md-6" [ngClass]="applyErrorStyle('tech')">
      <label for="tech" class="control-label">Tecnologias</label>
      <select multiple class="form-control" id="tech" formControlName="tech">
        <option *ngFor="let tech of techs" [ngValue]="tech">{{ tech.name }}</option>
      </select>

      <app-error-message [control]="showName('tech')" [label]="'Tecnologia'"></app-error-message>
    </div>

    <!-- PROFESSION FIELD -->
    <div class="col-md-6" [ngClass]="applyErrorStyle('profession')">
      <label for="profession" class="control-label">Profissão / Cargo</label>
      <select class="form-control" id="profession" formControlName="profession" [compareWith]="compareProfessions">
        <option *ngFor="let profession of professions" [ngValue]="profession">{{ profession.role }}</option>
      </select>

      <app-error-message [control]="showName('profession')" [label]="'Cargo'"></app-error-message>
    </div>

    <!-- FRAMEWORKS FIELD -->
    <div class="col-md-12" [ngClass]="applyErrorStyle('frameworks')">
      <label for="frameworks" class="control-label">Frameworks</label>
      <div id="frameworks" class="row">
        <div class="checkbox" class="col-sm-6" formArrayName="frameworks"
          *ngFor="let item of frameworks; let i = index;">
          <label class="checkbox-inline">
            <input type="checkbox" id="framework" [formControlName]="i"> {{ frameworks[i] }}
          </label>
        </div>

        <app-error-message [control]="showName('frameworks')" [label]="'Framework'"></app-error-message>
      </div>
    </div>
  </div>

  <!-- ADDRESS GROUP FIELD -->
  <div formGroupName="address" class="inputeoq">
    <!-- CEP FIELD -->
    <app-input-field formControlName="cep" class="col-md-3" [cssClass]="applyErrorStyle('cep')"
      id="cep" label="CEP" type="text" [control]="showName('address.cep')">
    </app-input-field>

    <!-- NUMBER FIELD -->
    <app-input-field formControlName="number" class="col-md-3" [cssClass]="applyErrorStyle('address.number')"
      id="number" label="Número" type="text" [control]="showName('address.number')">
    </app-input-field>

    <!-- COMPLEMENT FIELD -->
    <app-input-field  formControlName="complement"  class="col-md-6" [cssClass]="applyErrorStyle('address.complement')"
      id="complement" label="Complemento" type="text" [control]="showName('address.complement')">
    </app-input-field>

    <!-- STREET FIELD -->
    <app-input-field  formControlName="street" class="col-md-12" [cssClass]="applyErrorStyle('address.street')"
      id="street" label="Rua" type="text" [control]="showName('address.street')" [isReadOnly]="true">
    </app-input-field>

    <!-- NEIGHBORHOOD FIELD -->
    <app-input-field  formControlName="neighborhood" class="col-md-4" [cssClass]="applyErrorStyle('address.neighborhood')"
      id="neighborhood" label="Bairro" type="text" [control]="showName('address.neighborhood')" [isReadOnly]="true">
    </app-input-field>

    <!-- CITY FIELD -->
    <app-input-field formControlName="city" class="col-md-4" [cssClass]="applyErrorStyle('address.city')"
      id="city" label="Cidade" type="text" [control]="showName('address.city')" [isReadOnly]="true">
    </app-input-field>

    <!-- STATE FIELD -->
    <div class="form-group">
      <div class="col-md-4" [ngClass]="applyErrorStyle('state')">
        <label for="state" class="control-label">Estado</label>
        <select class="form-control" id="state" formControlName="state">
          <option *ngFor="let state of states | async" [value]="state.initials">{{ state.initials }}</option>
        </select>

        <app-error-message [control]="showName('state')" [label]="'Estado'"></app-error-message>
      </div>
    </div>
  </div>

  <div class="form-group">
    <!-- NEWSLETTER FIELD -->
    <div class="col-sm-3">
      <label for="newsletter" class="control-label">Newsletter</label>
      <div id="newsletter" class="row">
        <div *ngFor="let item of newsletterOp">
          <label class="radio-inline">
            <input id="newsletter-item" type="radio" [value]="item.desc" formControlName="newsletter">
            {{ item.desc }}
          </label>
        </div>
      </div>
    </div>

    <!-- TERMS FIELD -->
    <div class="col-md-3" [ngClass]="applyErrorStyle('terms')">
      <label class="control-label">Termos de compromisso</label>
      <div class="checkbox">
        <label for="terms" title="Termos de compromisso" class="checkbox-inline">
          <input id="terms" type="checkbox" formControlName="terms" (click)="setTerms()"> Li e aceito os termos
        </label>
      </div>
      <app-error-message [control]="showName('terms')" [label]="'Termo'"></app-error-message>
    </div>
  </div>

  <div class="set-buttons">
    <button type="button" (click)="setProfissionAsJuniorBackendDev()" class="btn btn-primary">Junior backend
      developer</button>
    <button type="button" (click)="setProfissionAsSeniorBackendDev()" class="btn btn-primary">Senior backend
      developer</button>
    <button type="button" (click)="setProfissionAsJuniorFrontendDev()" class="btn btn-primary">Junior frontend
      developer</button>
    <button type="button" (click)="setProfissionAsSeniorFrontendDev()" class="btn btn-primary">Senior frontend
      developer</button>
  </div>

  <div class="submit-buttons">
    <button type="reset" (click)="this.reset()" class="btn">Cancelar</button>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>