.set-buttons {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.set-buttons button {
    margin: 20px 0;
}

.submit-buttons {
    float: right;
}

.submit-buttons button {
    margin: 0 10px;
}

 input#terms, input#newsletter-item  {
    accent-color: #337ab7;
}