<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <!-- DEBUG COMPONENT -->
  <app-form-debug [form]="form"></app-form-debug>

  <div class="form-group" [ngClass]="applyErrorStyle('name')">
    <!-- NAME FIELD -->
    <div class="col-sm-12">
      <label for="name" class="control-label">Nome:</label>
      <input type="text" id="name" class="form-control" placeholder="Nome" formControlName="name">
      <app-input-control-errors [showError]="validAndTouched('name')" errorMessage="Nome é obrigatório!"></app-input-control-errors>
    </div>
  </div>

  <div class="form-group" [ngClass]="applyErrorStyle('email')">
    <!-- EMAIL FIELD -->
    <div class="col-sm-12">
      <label for="email" class="control-label">Email</label>
      <input type="text" id="email" class="form-control" placeholder="nome@email.com" formControlName="email">
      <app-input-control-errors [showError]="validAndTouched('email')" errorMessage="Email é obrigatório!">
      </app-input-control-errors>
      <app-input-control-errors [showError]="verifyEmail()" errorMessage="Email inválido!"></app-input-control-errors>
    </div>
  </div>

  <!-- ADDRESS FIELD GROUP-->
  <div formGroupName="address">
    <div class="form-group">
      <!-- CEP FIELD -->
      <div class="col-md-3" [ngClass]="applyErrorStyle('address.cep')">
        <label for="cep" class="control-label">CEP</label>
        <input type="text" class="form-control" id="cep" formControlName="cep">

        <app-input-control-errors [showError]="validAndTouched('address.cep')" errorMessage="CEP é obrigatório">
        </app-input-control-errors>
      </div>

      <!-- NUMBER FIELD -->
      <div class="col-md-6" [ngClass]="applyErrorStyle('address.number')">
        <label for="number" class="control-label">Número</label>
        <input type="text" class="form-control" id="number" formControlName="number">

        <app-input-control-errors [showError]="validAndTouched('address.number')" errorMessage="Número é obrigatório!">
        </app-input-control-errors>
      </div>

      <!-- COMPLEMENT FIELD -->
      <div class="col-md-3">
        <label for="complement" class="control-label">Complemento</label>
        <input type="text" class="form-control" id="complement" formControlName="complement">
      </div>
    </div>

    <div class="form-group" [ngClass]="applyErrorStyle('address.street')">
      <!-- STREET FIELD -->
      <div class="col-sm-12">
        <label for="street" class="control-label">Rua:</label>
        <input type="text" class="form-control" id="street" formControlName="street">

        <app-input-control-errors [showError]="validAndTouched('address.street')" errorMessage="Número é obrigatório">
        </app-input-control-errors>
      </div>
    </div>

    <div class="form-group">
      <!-- NEIGHBORHOOD FIELD -->
      <div class="col-md-5" [ngClass]="applyErrorStyle('address.neighborhood')">
        <label for="neighborhood" class="control-label">Bairro</label>
        <input type="text" class="form-control" id="neighborhood" formControlName="neighborhood">

        <app-input-control-errors [showError]="validAndTouched('address.neighborhood')" errorMessage="Bairro é obrigatório!">
        </app-input-control-errors>
      </div>

      <!-- CITY FIELD -->
      <div class="col-md-4" [ngClass]="applyErrorStyle('address.city')">
        <label for="city" class="control-label">Cidade</label>
        <input type="text" class="form-control" id="city" formControlName="city">

        <app-input-control-errors [showError]="validAndTouched('address.city')" errorMessage="Cidade é obrigatória!">
        </app-input-control-errors>
      </div>

      <!-- STATE FIELD -->
      <div class="col-md-3" [ngClass]="applyErrorStyle('address.state')">
        <label for="state" class="control-label">Estado</label>
        <input type="text" class="form-control" id="state" formControlName="state">

        <app-input-control-errors [showError]="validAndTouched('address.state')" errorMessage="Estado é obrigatório!!">
        </app-input-control-errors>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
  <button type="reset" (click)="reset()" class="btn">Cancelar</button>
</form>