<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form)">

  <!-- DEBUG COMPONENT -->
  <app-form-debug [form]="form"></app-form-debug>

  <div class="form-group">
    <!-- NAME FIELD -->
    <div class="col-sm-12" [ngClass]="applyErrorStyle('name')">
      <label for="name" class="control-label">Nome:</label>
      <input type="text" id="name" class="form-control" placeholder="Nome" formControlName="name">
      <app-error-message [control]="showName('name')" [label]="'Nome'"></app-error-message>
    </div>
  </div>

  <div class="form-group">
    <!-- EMAIL FIELD -->
    <div class="col-sm-12" [ngClass]="applyErrorStyle('email')">
      <label for="email" class="control-label">Email</label>
      <input type="text" id="email" class="form-control" placeholder="nome@email.com" formControlName="email">

      <app-error-message [control]="showName('email')" [label]="'Email'"></app-error-message>

    </div>

    <!-- EMAIL COMFIRMATION FIELD -->
    <div class="col-sm-12" [ngClass]="applyErrorStyle('confirmEmail')">
      <label for="confirmEmail" class="control-label">Confirmação de email</label>
      <input type="text" id="confirmEmail" class="form-control" placeholder="nome@email.com"
        formControlName="confirmEmail">

      <app-error-message [control]="showName('confirmEmail')" [label]="'Confirmação de email'"></app-error-message>
    </div>
  </div>

  <div class="form-group">
    <!-- TECHNOLOGIES FIELD -->
    <div class="col-md-6" [ngClass]="applyErrorStyle('tech')">
      <label for="tech" class="control-label">Tecnologias</label>
      <select multiple class="form-control" id="tech" formControlName="tech">
        <option *ngFor="let tech of techs" [ngValue]="tech">{{ tech.name }}</option>
      </select>

      <app-error-message [control]="showName('tech')" [label]="'Tecnologia'"></app-error-message>
    </div>

    <!-- PROFESSION FIELD -->
    <div class="col-md-6" [ngClass]="applyErrorStyle('profession')">
      <label for="profession" class="control-label">Profissão / Cargo</label>
      <select class="form-control" id="profession" formControlName="profession" [compareWith]="compareProfessions">
        <option *ngFor="let profession of professions" [ngValue]="profession">{{ profession.role }}</option>
      </select>

      <app-error-message [control]="showName('profession')" [label]="'Cargo'"></app-error-message>
    </div>

    <!-- FRAMEWORKS FIELD -->
    <div class="col-md-12" [ngClass]="applyErrorStyle('frameworks')">
      <label for="frameworks" class="control-label">Frameworks</label>
      <div id="frameworks" class="row">
        <div class="checkbox" class="col-sm-6" formArrayName="frameworks"
          *ngFor="let item of frameworks; let i = index;">
          <label class="checkbox-inline">
            <input type="checkbox" id="framework" [formControlName]="i"> {{ frameworks[i] }}
          </label>
        </div>

        <app-error-message [control]="showName('frameworks')" [label]="'Framework'"></app-error-message>
      </div>
    </div>
  </div>

  <!-- ADDRESS GROUP FIELD -->
  <div formGroupName="address">
    <div class="form-group">
      <!-- CEP FIELD -->
      <div class="col-md-3" [ngClass]="applyErrorStyle('address.cep')">
        <label for="cep" class="control-label">CEP</label>
        <input type="text" class="form-control" id="cep" formControlName="cep">

        <app-error-message [control]="showName('address.cep')" [label]="'CEP'"></app-error-message>
      </div>

      <!-- NUMBER FIELD -->
      <div class="col-md-6" [ngClass]="applyErrorStyle('address.number')">
        <label for="number" class="control-label">Número</label>
        <input type="text" class="form-control" id="number" formControlName="number">

        <app-error-message [control]="showName('address.number')" [label]="'Número'"></app-error-message>
      </div>

      <!-- COMPLEMENT FIELD -->
      <div class="col-md-3">
        <label for="complement" class="control-label">Complemento</label>
        <input type="text" class="form-control" id="complement" formControlName="complement">
      </div>
    </div>

    <div class="form-group" [ngClass]="applyErrorStyle('address.street')">
      <!-- STREET FIELD -->
      <div class="col-sm-12">
        <label for="street" class="control-label">Rua:</label>
        <input type="text" class="form-control" id="street" formControlName="street">

        <app-error-message [control]="showName('address.street')" [label]="'Rua'"></app-error-message>
      </div>
    </div>

    <div class="form-group">
      <!-- NEIGHBORHOOD FIELD -->
      <div class="col-md-5" [ngClass]="applyErrorStyle('address.neighborhood')">
        <label for="neighborhood" class="control-label">Bairro</label>
        <input type="text" class="form-control" id="neighborhood" formControlName="neighborhood">

        <app-error-message [control]="showName('address.neighborhood')" [label]="'Bairro'"></app-error-message>
      </div>

      <!-- CITY FIELD -->
      <div class="col-md-4" [ngClass]="applyErrorStyle('address.city')">
        <label for="city" class="control-label">Cidade</label>
        <input type="text" class="form-control" id="city" formControlName="city">

        <app-error-message [control]="showName('address.city')" [label]="'Cidade'"></app-error-message>
      </div>

      <!-- STATE FIELD -->
      <div class="col-md-3" [ngClass]="applyErrorStyle('address.state')">
        <label for="state" class="control-label">Estado</label>
        <select class="form-control" id="state" formControlName="state">
          <option *ngFor="let state of states | async" [value]="state.initials">{{ state.initials }}</option>
        </select>

        <app-error-message [control]="showName('address.state')" [label]="'Estado'"></app-error-message>
      </div>
    </div>
  </div>

  <div class="form-group">
    <!-- NEWSLETTER FIELD -->
    <div class="col-sm-3">
      <label for="newsletter" class="control-label">Newsletter</label>
      <div id="newsletter" class="row">
        <div *ngFor="let item of newsletterOp">
          <label class="radio-inline">
            <input id="newsletter-item" type="radio" [value]="item.desc" formControlName="newsletter">
            {{ item.desc }}
          </label>
        </div>
      </div>
    </div>

    <!-- TERMS FIELD -->
    <div class="col-md-3" [ngClass]="applyErrorStyle('terms')">
      <label class="control-label">Termos de compromisso</label>
      <div class="checkbox">
        <label for="terms" title="Termos de compromisso" class="checkbox-inline">
          <input id="terms" type="checkbox" formControlName="terms" (click)="setTerms()"> Li e aceito os termos
        </label>
      </div>
      <app-error-message [control]="showName('terms')" [label]="'Termo'"></app-error-message>
    </div>
  </div>

  <div class="set-buttons">
    <button type="button" (click)="setProfissionAsJuniorBackendDev()" class="btn btn-primary">Junior backend
      developer</button>
    <button type="button" (click)="setProfissionAsSeniorBackendDev()" class="btn btn-primary">Senior backend
      developer</button>
    <button type="button" (click)="setProfissionAsJuniorFrontendDev()" class="btn btn-primary">Junior frontend
      developer</button>
    <button type="button" (click)="setProfissionAsSeniorFrontendDev()" class="btn btn-primary">Senior frontend
      developer</button>
  </div>

  <div class="submit-buttons">
    <button type="reset" (click)="this.reset()" class="btn">Cancelar</button>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>